<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Part Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Inhouse Part Detail</h1>
<form action="#" th:action="@{/showFormAddInPart}" th:object="${inhousepart}" method="POST"}>

    <p>
        <input type="hidden" th:field="*{id}"/>
    </p>

<p>
    <label>Name: </label>
    <input type="text" th:field="*{name}" class="form-control mb-4 col-4"/>
</p>

<p>
    <label>Price: </label>
    <input type="text" path="price" th:field="*{price}" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>

<p>
    <label>Inventory: </label><input type="text" path="inv" th:field="*{inv}"  class="form-control mb-4 col-4"/>
    <span th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}">Inventory Error</span>
</p>


    <p>
        <label>Min: </label>
        <input type="number" path="min" th:field="*{min}"  class="form-control mb-4 col-4"/>
    </p>
    <p>
        <label>Max:  </label>
        <input type="number" path="max" th:field="*{max}"  class="form-control mb-4 col-4"/>
    </p>
    <p>
        <label>PartId:  </label>
        <input type="text" th:field="*{partId}"  class="form-control mb-4 col-4"/>
    </p>

    <div th:if="${#fields.hasGlobalErrors()}">
        <div th:each="error : ${#fields.globalErrors()}" th:text="${error}"></div>
    </div>

<p><input type="submit" value="Submit" /></p>
</form>
<p><errors path="price" cssClass=""error/><p>

<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html>