<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Part Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Outsourced Part Detail</h1>

<form action="#" th:action="@{/showFormAddOutPart}" th:object="${outsourcedpart}" method="POST"}>

<!-- Add hidden form field to handle update -->
    <p><input type="hidden" th:field="*{id}"/></p>

<p><label>Name:  </label><input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4"/></p>

<p><label>Price:  </label><input type="text" th:field="*{price}" placeholder= "Price" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>

<p><label>Inventory:  </label><input type="text" th:field="*{inv}" placeholder="Inventory" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}">Inventory Error</p>

    <p><label>Min:  </label><input type="number" path="min" th:field="*{min}" placeholder="Min" class="form-control mb-4 col-4"/></p>
    <p><label>Max:  </label><input type="number" path="max" th:field="*{max}" placeholder="Max" class="form-control mb-4 col-4"/></p>
    <p><label>Company Name: </label><input type="text" th:field="*{companyName}" placeholder="Company Name" class="form-control mb-4 col-4"/></p>
    <div th:if="${#fields.hasGlobalErrors()}">
        <div th:each="error : ${#fields.globalErrors()}" th:text="${error}"></div>
    </div>
<p><input type="submit" value="Submit" /></p>
</form>
<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html>